.[data-controller="favorite" class="favorite" data-favorite-type=type data-favorite-id=id data-favorite-status=status.to_s data-action="click->favorite#click"]
  i.[class=classes data-favorite-target="icon"]