.lowest {
  color: blue
}
.low {
  color: green
}
.medium {
  color: gray
}
.high {
  color: orangered
}
.highest {
  color: red
}

.list {
  list-style: none;
  padding-left: 0;
}

.side-bar ul {
  padding: 0;
  margin: 0;
  list-style: outside none none;
}

.main-window {
  min-height: 400px;
}

.mark-short {
  border-radius: 30px;
  cursor: pointer;
  padding-left: 30%;
}
.mark-medium {
  border-radius: 10px;
  cursor: pointer;
  width:10%;
}
.mark-long {
  border-radius: 10px;
  cursor: pointer;
  width:50%;
}