= title t("pages.about_us.title")
h1 = t("pages.about_us.title")
hr
h2 Pangu and the creation of the world
p According to Chinese mythology, the big bang happened when the god Pangu cracked the egg that he was sleeping in. This egg contained Yin and Yang, which then separated. The lighter Yang rose to create the sky, Yin formed earth and Pangu made sure both were held in place with his hands and feet.