= title t("pages.contacts.title")
h1 = t("pages.contacts.title")
hr
h2 BRAAIIINS Ipsum
p Zombie Ipsum: Frightful filler for your damned designs. Use as substitute for lorem ipsum for your most gruesome graphics. Sprinkle liberally with extra brains.