= title t(".title")

h3.text-center.mb-4 =t(".head_messge")
= render base_button(label: t("button.add"), path: new_project_path, icon: "fa-solid fa-plus", class: "btn btn-primary", title: t(".create_project"))
hr

= render "projects/search_form"
hr

= render @projects

= paginate @projects